form {
  width: 100%;
  height: 45px;
  @include flex-property(space-between, center);
  .input-field, .submit-btn {
    height: 100%;
    border-radius: 5px;
    outline: none;
    font-family: $inter;
    @include text-property(13px, $regular, $gray100, none);
    @include transition(all, 0.3s, ease);
  }
  .input-field {
    width: 500px;
    background-color: $gray500;
    text-indent: 10px;
    @include border(1.5px, solid, $gray500);
    &::placeholder {
      color: $gray300;
    }
    &:hover, &:focus {
      border-color: $purpleDark;
    }
  }
  .submit-btn {
    width: 90px;
    background-color: $blueDark;
    font-size: 12px;
    font-weight: $semiBold;
    border: none;
    cursor: pointer;
    @include flex-property(center, center);
    &:hover, &:focus {
      background-color: $blue;
    }
    .plus {
      margin-left: 7px;
    }
  }
}