@mixin positions($x, $y) {
  top: $y;
  left: $x;
  transform: translate(-$x, -$y);
}

@mixin flex-property($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin text-property($fontSize, $fontWeight, $color, $transform) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
  text-transform: $transform;
}

@mixin size($max, $width, $height) {
  max-width: $max;
  width: $width;
  height: $height;
}

@mixin transition($property, $duration, $timingFunc) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timingFunc;
}

@mixin border($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}